body{
    background-image: linear-gradient(to bottom right, pink, tomato);
}
h1{
    text-align: center;
}
table{
    width: 80%;
    margin: 40px auto;
    background: darkslategrey;
    color: aliceblue;
    
}
table.form{
    text-align: left;
    width: fit-content;
    font-size: large;
    size: 2;
    
}
table.list{
    text-align: center;
    width: 100%;
    border: 1px solid rgb(165, 163, 164);
    padding: 8px 15px;
}
div.name{
    columns: 2;
}
div.name1{
    columns: 3;
}
th {
    height: 70px;
  }
td{
    border: 1px solid rgb(165, 163, 164);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: lightseagreen;
    color: black;
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(99, 40, 40);
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="submit"],input[type="reset"]{
    background: lightblue;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"]:hover{
    background: blue;
}

input[type="reset"]:hover{
    background: darkred;
}

button{
    background: lightgreen;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background: white ;
}
